<div id="cart_details">
  <%= render partial: 'layouts/cart_details', locals: {cart: @cart} %>
</div>

<ul class="nav nav-tabs">
  <li class="active"> <a href="#address" data-target="#address" data-toggle="tab">Delivery Address</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active fade in" id="address">
    <div class="address_form">
    <fieldset>
      <h3>Please Enter Your Address Details</h3>
      <div class="well">
        <%= render 'form' %>
      </div>
    </fieldset>
    </div>
  </div>
</div>