<% unless cart.order_items.empty? %>
<div class="cart_title">My Cart</div><hr/>
<table class="well table">
	<tr>
		<td><strong>Order Item</strong></td>
		<td><strong>Quantity</strong></td>
		<td><strong>Price</strong></td>
		<td class="item_price"><strong>Total Price</strong></td>
	</tr>
	<%= render(cart.order_items) %>
	<tr class="total_line success">
		<td colspan="3"><strong>Total</strong></td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>
<div>
	<%= link_to 'Empty cart', cart, method: :delete, class: "btn btn-warning", data: {confirm: 'Are you sure?'} %> &nbsp;
	<%= link_to "Checkout", new_order_path, method: :get, class: "btn btn-success" %>
</div>
<hr/>
<% end %>