/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'bootstrap-sass'
 *= require carts
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none !important;
}

.carousel {
    height: 350px;
    margin-bottom: 60px;
}
.carousel .item{
  text-align: center;
}
.carousel .item img{
  display: inline-block;
}
.carousel-control{
  background: none !important;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.thumbnail a > img {
  margin-top: 25px;
}

.product-details{
  text-align: center !important;
}

.navbar-inverse .glyphicon{
  color: #fff;
  position: relative;
  top: 2px;
  margin-right: 2px;
} 

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #141;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

//
  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #141;

    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     white;

      table {
        border-top:    1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
//
}

.cart_title {
  font-size: 20px;
  font-family: cursive;
}

.order_form {
  fieldset {
    legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
    }
  }
  form {
    label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    br {
    display: none
    }
  }
}

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:16px;
   right:-10px;
   font-size:.7em;
   background:red;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: asset-url('glyphicons-halflings-regular.eot'),
         asset-url('glyphicons-halflings-regular.woff') format('woff'),
         asset-url('glyphicons-halflings-regular') format('truetype'),
         asset-url('glyphicons-halflings-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.order-notice {
  color: green;
}

.customer-form {
  text-align: center;
}

.order-details {
  margin-left: 20px;
}

.product-show p {
  font-size: 14px!important;
}